@model IEnumerable<Model.Gebruiker>

@{
    ViewData["Title"] = "Gebruiker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gebruiker</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GebruikerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gebruikersnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wachtwoord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gebortendatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobielnummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Geslacht)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Studentenhuis)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GebruikerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruikersnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wachtwoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gebortendatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobielnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studentenhuis)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
