@using KillerApp.Model
@model KillerApp.View.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<head>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/DasboardJS.js"></script>
</head>

<div class="container-fluid" id="DashboardDiv" name="DashboardDiv">
    <div class="row">
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>Account info</h2>
                <div class="dashboardcontent-container">

                    <h3>Welkom </h3>
                    <h3>@Model.gebruiker.Voornaam @Model.gebruiker.Achternaam</h3>

                    @if (Model.studentenhuis.Naam != "GeenHuis")
                    {
                        <a asp-action="Index" asp-controller="Studentenhuis" class="btn btn-default">Verander van Studentenhuis</a>
                    }
                        <a asp-action="ViewDetailPartial" asp-controller="Gebruiker" asp-route-id="@Model.gebruiker.GebruikerID" onclick="ShowReserveringsForm(event)" class="btn btn-default">Verander mijn details</a>
                    </div>    
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>Overzicht huis (@Model.studentenhuis.Naam)</h2>
                <div class="dashboardcontent-container">
                    @if (Model.studentenhuis.Naam == "GeenHuis")
                    {

                        <a asp-action="Index" class="btn btn-default" asp-controller="Studentenhuis">Word lid van een Studentenhuis</a>
                    }
                    else
                    {
                        @foreach (Bewonersaldo b in Model.Bewonersaldos)
                        {
                            <h3 id="viewdetailpartial">@b.Voornaam / Saldo = @b.Saldo </h3>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-13">
            <div class="dasboard-container">
                <h2>Ik heb gekookt voor</h2>
                <div class="dashboardcontent-container">
                    <form asp-controller="Home" asp-action="KokenStudentenhuis" method="post">

                        <input value="@Model.studentenhuis.StudentenhuisID" type="hidden" id="studentenhuisid" name="studentenhuisid" />
                      
                        <div class="form-group">
                            <div class="col-xs-7">
                                <label class="control-label col-sm-5" for="DatumVanActiviteit">Waneer heb je heeft het plaatgevonden</label>
                                <div class="col-sm-7 input-small">
                                    <input class="form-control" asp-for="@Model.aciviteit.Datum" type="date" id="DatumVanActiviteit" name="DatumVanActiviteit" />
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-7">
                                    <label class="control-label col-sm-5" for="Beschrijving">Wat heb je gekocht</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" asp-for="@Model.aciviteit.Beschrijving" type="text" id="Beschrijving" name="Beschrijving" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-7">
                                    <label class="control-label col-sm-5" for="Bedrag">Bedrag van alles</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" asp-for="@Model.aciviteit.Bedrag" type="text" id="Bedrag" name="Bedrag" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-7">
                                    <label class="control-label col-sm-5" for="VanGebruiker">Wie heeft er wat betaald</label>
                                    <div class="col-sm-7">
                                        <select name="VanGebruiker" class="selectpicker show-tick">
                                            @foreach (Bewonersaldo b in Model.Bewonersaldos)
                                            {
                                                @if (b.GebruikerID != Model.gebruiker.GebruikerID)
                                                {
                                                    <option value="@b.GebruikerID">@b.Voornaam </option>
                                                }
                                                else
                                                {
                                                    <option selected value="@b.GebruikerID">@b.Voornaam </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-7">
                                    <label class="control-label col-sm-5" for="VoorGebr">Wie Voor welke huisgenoten</label>
                                    <div class="col-sm-offset-2 input-small">
                                        <select name="VoorGebr[]" class="selectpicker" multiple data-actions-box="true" title="Kies voorwie ">
                                            @foreach (Bewonersaldo b in Model.Bewonersaldos)
                                            {
                                                <option value="@b.GebruikerID">@b.Voornaam </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-7">
                                    <label class="control-label col-sm-5" for="KokenOfVoorschieten">Wat heb je gedaan</label>
                                    <div class="col-sm-offset-2 input-small">
                                        <select name="KokenOfVoorschieten" class="selectpicker" title="Wat heb je gedaan ">
                                            <option value="koken">Ik heb gekookt</option>
                                            <option value="voorgeschoten">Ik heb iets voorgeschoten</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>

                            <div class="form-group">
                                <div class="col-xs-7">
                                    <label class="control-label col-sm-5">&nbsp;</label>
                                    <div class="col-sm-5">
                                        @if (Model.studentenhuis.Naam != "GeenHuis")
                                        {
                                            <input type="submit" value="Verstuur" class="btn btn-default" />
                                        }
                                        else
                                        { <input type="submit" disabled="true" value="Verstuur" class="submit" />}
                                    </div>
                                    </div>
                                </div>
                </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-13">
            <div class="dasboard-container">
                <h2>Overzicht Actions</h2>
                <div class="dashboardcontent-container">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Van</th>
                                <th>Voor</th>
                                <th>Beschrijving</th>
                                <th>Datum</th>
                                <th>Bedrag</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OverzichtActiviteit == null)
                            {

                                <tr>
                                    <td>Geen Activiteit</td>
                                    <td>Geen Activiteit</td>
                                    <td>Geen Activiteiten gevonden</td>
                                    <td>Geen Activiteit</td>
                                    <td>Geen Activiteit</td>
                                </tr>
                            }
                            else
                            {

                                @foreach (Activiteit a in Model.OverzichtActiviteit)
                                {
                                    <tr>
                                        <td>@Model.GetNameVanGebruiker(a.IngelogdeGebruiker)</td>
                                        <td>@Model.GetNameVanGebruiker(a.TegenGebruiker)</td>
                                        <td>@a.Beschrijving</td>
                                        <td>@a.Datum.ToShortDateString()</td>
                                        <td>@a.Bedrag</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>`
    </div>
</div>


