@using KillerApp.Model
@model KillerApp.View.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>ACCOUNT</h2>
                <div class="dashboardcontent-container">
                    <div class="glyphicon glyphicon-user account-image">
                        <div class="usericon-background"></div>
                    </div>
                    <p>Mautjee</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>Overzicht huis (@Model.studentenhuis.Naam)</h2>
                <div class="dashboardcontent-container">

                        @foreach ( Bewonersaldo b in Model.Bewonersaldos)
                        {
                            <h3 id="viewdetailpartial" >@b.Voornaam / Saldo = @b.Saldo </h3> 
                        }
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>Activiteit</h2>
                <div class="dashboardcontent-container">
                    <form asp-controller="Home" asp-action="VoegActiviteitToe" method="post">

                        <input value="@Model.gebruiker.GebruikerID" type="hidden" id="IngelogdeGebruiker" name="IngelogdeGebruiker" />
                        <input value="@Model.studentenhuis.StudentenhuisID" type="hidden" id="studentenhuisid" name="studentenhuisid" />

                        <div class="form-group">
                            <label class="control-label col-sm-10" for="DatumVanActiviteit">Waneer heeft de activiteit plaatsgevonden</label>
                            <div class="col-sm-10 input-small">
                                <input class="form-control col-sm-6" asp-for="@Model.aciviteit.Datum" type="date" id="DatumVanActiviteit" name="DatumVanActiviteit" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-10" for="Beschrijving">Beschrijving van activiteit</label>
                            <div class="col-sm-10 input-small">
                                <input class="form-control col-sm-6" asp-for="@Model.aciviteit.Beschrijving" type="text" id="Beschrijving" name="Beschrijving" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-10" for="Bedrag">Bedrag van de activiteit</label>
                            <div class="col-sm-10 input-small">
                                <input class="form-control col-sm-3" asp-for="@Model.aciviteit.Bedrag" type="text" id="Bedrag" name="Bedrag" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-10" for="TegenGebruiker">Voor wie heb je iets gekocht</label>
                            <div class="col-sm-10 input-small">
                                <select name="TegenGebruiker" id="TegenGebruiker">
                                    @foreach (Bewonersaldo b in Model.Bewonersaldos)
                                    {
                                        <option value="@b.GebruikerID">@b.Voornaam </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-6">&nbsp;</label>
                            <div class="col-sm-10">
                                <input type="submit" value="Verstuur" class="submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>Overzicht Actions</h2>
                <div class="dashboardcontent-container">

                   

                </div>
            </div>
        </div>`
    </div>
</div>


